@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

:root{
  --azul-principal: #31B8D4;
  --azul-claro: #80d2e2;
  --azul-oscuro: #057e96;
  --fondo: #F0F2F5;
  --gris: #A5969C;
  --rojo: #FB5858;
  --fuente: 'Sen', sans-serif;

  --borde-azul: 2px solid var(--azul-oscuro);
  --borde-gris: 2px solid var(--gris);
  --sombra: 3px 3px 1px 1px;
  --curvatura: 10px;
}

body{
  background-color: var(--fondo);
  text-align: center;
  font-family: var(--fuente);
}

body *{
  font-family: inherit;
}
